.cardContainer {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: inset 0 10px 10px 15px rgba(0, 0, 0, 0.25),
    inset 0 15px 15px 10px rgba(0, 0, 0, 0.25);
}

.statusContainer{
    position: absolute;
    display: flex;
    top: 73;
    left: 24;
    z-index: 2;
}

.cardFooter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 169px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.characterData{
 display: flex;
 justify-content: center;
 text-align: center;
}
.characterTitle{
    padding: 8px 16px;
}

.dataContainer{
    color:white;
    font-weight: 400;
    size: 16px;
}

.dataContainer>h3{
    color: var(--color-green-base);
    font-size: 20px;
}
